<% content_for(:title, "ToDo | List") %>
<h1 class="center"><%= @list.name %></h1>
<%if @list.tasks.any? %>
<table class="highlight centered white table-responsive">
	<thead>
		<tr>
			<th>Task</th>
			<th>Created at</th>
			<!-- <th>Updated at</th> -->
			<th>Edit</th>
			<th>Delete</th>
			<th>Done</th>
		</tr>
	</thead>
	<tbody>
		<% @list.tasks.each do |task| %>
		<tr>
			<td><%= task.description %></td>
			<td><span class="green-text"><%= task.created_at.strftime('%m/%d/%y, %I:%M%p')%></span></td>
			<!-- <td><span class="teal-text"><%= task.updated_at.strftime('%m/%d/%y, %I:%M%p')%></span></td> -->
			<td><%= link_to "Edit", edit_list_task_path(@list, task) %></td>
			<td><%= link_to "Delete", list_task_path(@list, task), data: { confirm: "Are you sure?", method: "delete"} %> </td>
			<td><input type="checkbox" id="<%= task.id%>" onclick="Materialize.toast('Way to go!', 4000)"
			<% if task.done == true %>
			checked="checked"
			<% end %> value="task.done">
			<label for="<%= task.id%>"><%= task.done %></label>
		</td>
	</tr>
	<% end %>
</tbody>
</table>
<% else %>
<p class="center">There are no tasks yet!</p>
<% end %>
<div class="fixed-action-btn toolbar">
<a class="btn-floating btn-large red pulse">
	<i class="large material-icons">menu</i>
</a>
<ul class="black">
	<li class="waves-effect waves-light"><%= link_to "Edit List", edit_list_path(@list) %></li>
	<li class="waves-effect waves-light"><%= link_to "Delete List", list_path(@list),
	:data => {confirm: "You sure?", method: "delete"} %></li>
	<li class="waves-effect waves-light"><%= link_to "Add task", new_list_task_path(@list) %></li>
	<li class="waves-effect waves-light"><%= link_to "Return to lists", lists_path %></li>
</ul>
</div>