<%= render('layouts/errors', object: @task) %>
<%= form_for [@list, @task] do |f| %>
<div class="input-field">
	<%= f.label :description %>
	<%= f.text_field :description, required: true %>
</div>
<div class="center">
	<%= f.submit class: 'btn black waves-effect waves-light' %>
</div>
<% end %>
